/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

body{
  text-align: center;
}

.hidden{
  display: none;
}
img + h3{
  text-decoration: underline;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
